<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dárce a jeho dary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Dárce a jeho dárky</h1>

					<form class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-lg-2 control-label">Jméno</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" disabled="disabled"
										th:value="${donor.firstName + ' ' + donor.lastName}" />				
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">Město</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" disabled="disabled"
										th:value="${donor.town}" />
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Dárky</th>
						</tr>
					</thead>
					<thead>
						<tr>
							<th>Datum</th>
							<th>Částka (Kč)</th>
							<th>Vzkaz od dárce</th>
							<th>Akce</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="donation : ${donor.donations}">
							<td th:text="${#temporals.format(donation.date, 'd. M. yyyy')}"></td>
							<td th:text="${donation.amount}"></td>
							<td th:text="${donation.message}"></td>
							<td><a th:href="@{/donations/del/{id}(id=${donation.donatId})}">smazat</a>
							</td>
							<td><a th:href="@{/donations/edit/{id}(id=${donation.donatId})}">upravit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
			<tr><a th:href="@{/donors/}">Zpět na seznam dárců</a> </tr>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-5 col-sm-4">
					<h3>Přidat dar</h3>
					<form action="#"  th:action="@{/donors/{id}(id=${donor.donorId})}" method="post" th:object="${newDonation}" class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label">Datum</label>
								<div class="col-lg-5">
									<input type="date" class="form-control" th:value="*{date}" th:field="*{date}" />
									<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Částka (Kč)</label>
								<div class="col-lg-5">
									<input type="number" class="form-control" th:field="*{amount}" />
									<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Vzkaz od dárce</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" name="message" th:field="*{message}" />
									<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12 col-lg-offset-3">
									<button type="submit" class="btn btn-primary" name="button">Přidat dar</button>
								</div>
							</div>
						</fieldset>
					</form>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>
